html, body{
    font-family: 16px;
    font-family: Lato sans-serif;
    color: rgba(66, 69, 81, 1) ;
    line-height: 150%;
}
a{
    color: rgba(66, 69, 81, 1) ;
    text-decoration: none;
}
.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden; /*чтобы не было нижнего скрола*/
}
.container{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;

}

.button{
    text-align: center;
    display: inline-block;
  white-space: nowrap ;
  line-height: 52px;
  letter-spacing: 0.5px;
  padding: 0 40px;
  color: white;
  border-radius: 4px;
  width: 206px;
 height: 52px;
 cursor: pointer;
 border: 0;
 transition: all .5s;
 background:  linear-gradient(45deg, rgba(255, 63, 58, 1), rgba(246, 93, 5, 1));
}
.button:hover{
transform: scale(1.1);
}

.button--empty{
    background-image: none;
    border-left: 1px solid red;
    border-right: 1px solid orange;
   background-image: linear-gradient(left, red, orange), linear-gradient(left, red, orange);
  background-image: -webkit-linear-gradient(left, red, orange), -webkit-linear-gradient(left, red, orange);
  background-position: 0 100%, 0 0 ;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-clip: border-box;
 width: 148px;
 height: 52px;
 text-align: center;


 
}

.button--empty span{
    background: linear-gradient(45deg, rgba(255, 63, 58, 1), rgba(246, 93, 5, 1));
    
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.logo{
    margin-right: 20px;
}

.heading {
  
    color:  rgba(30, 33, 44);
}

.heading_subtitle {
    font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 1px;
text-align: left;
text-transform: uppercase;
margin-bottom: -5px;

}

.heading_title {
    font-size: 46px;
font-weight: 900;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
}

/*--------------------------------*/

.header {
      font-weight: 700;
      display: flex;
      flex-direction: column;
       height: 100vh;
      background: url(/creatix/img/icons/Group\ 2.svg) 50% 20% / cover no-repeat, linear-gradient(45.00deg, rgba(255, 63, 58, .2) 0%,rgba(246.63, 93.76, 5.25, .2) 100%);

}
.header_top {
    flex-wrap: nowrap;
}

.header_top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header_logo {
}
.header_nav {
    margin-right: auto;
}
.header_nav-list {
    display: flex;
    list-style-type: none;
}
.header_top_nav-item {
    margin:0 40px ;
     white-space: nowrap ;
    
}
.header_top_nav-item:last-child{
    margin-right: 0;
    
}
.header_top_nav-link {
    line-height: 1.6;
    transition: all .3s;
    text-decoration: none;
}

.header_top_nav-link:hover {
   color: rgba(255, 63, 58, 1);
}
.header_btn-box {
    display: flex;
    align-items: center;
}
.header_top-button {
    margin-right: 36px;
}

.header_user-nav {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 28px;
    
}
.header_user-nav::before{
    content: "";
    background-image: url(/creatix//img/icons/Profile.svg);
    width: 20px;
    height: 20px;
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;

}
.header_user-btn {
    white-space: nowrap ;
    transition: all .3s;
}
.header_user-btn:hover{
    color: rgba(255, 63, 58, 1);
}
    

/************************************************************************/
.header_body {
    flex-grow: 1; /*этот элемент может восполнять всё оставшееся пространтство*/
}

.header_body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
   color: rgba(30, 33, 44, 1);
   margin: auto 0;

}
.header_content {
    margin-right: 30px;
}
.header_play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header_play svg{
    margin-right: 15px;
    border-radius: 50%;
    transition: all .3s;
    cursor: pointer;
}

.header_play:hover svg{
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
   
}
.header_title {
    font-size: 64px;
font-weight: 700;
line-height: 130%;
letter-spacing: 1px;
max-width: 500px;
margin-bottom: 50px;
}
.header_contents-buttons {
    display: flex;
}
.header_contents-btn {
    margin-right: 20px;
}

.header_contents-btn:last-child{
    margin-right: 0;
}



.header_row {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(30, 33, 44, 1);
    margin-bottom: 80px;
   
}

.header_row>span{
    width: 8px;
height: 8px;
background:  rgba(255, 63, 58, 1);
border-radius: 50%;
margin: 0 15px;
}

.header_row-item {
 display: flex;
 align-items: center;
 list-style-type: none;
}

.header_row-item span{
font-size: 46px;
font-weight: 900;
line-height: 130%;
margin-right: 12px;
}

/*----------------------------------------------------------------*/
.main {
}
.aboutAs {
}

.about_inner {
}
.about_creatix {
display: flex;
align-items: flex-end;
justify-content: space-between;
margin: 180px 0;
}
.about_creatix-content {
    max-width: 600px;
    margin-right: 30px;
}
.about_heading {
    margin-bottom: 48px;
    
}
.about_paragraph--accent{
    font-size: 20px;
font-weight: 700;
line-height: 150%;
width: 600px;
height: 60px;
color: rgba(30, 33, 44, 1);
}

.about_text{
    margin-bottom: 60px;
}
.about_paragraph {
   
        width: 600px;
       height: 104px;
}
.about_paragraph:last-child{
    margin-bottom: 0;

}

.about_btn-box {

    display: flex;
}

.about_btn {
    margin-right: 20px;
}

.about_btn:last-child{
    margin-right: 0;
}

.about_btn {
}


.about_img {
}


.about_values {
}